@using Apollo2.Sys.Management
@using Apollo2.Shared.Sys.User
@using Apollo2.Sys.Windows
@using Apollo2.Sys.Data
@using Apollo2.Pages.Components
@using Apollo2.Sys
@using Apollo2.Shared.Sys.Data.Incidents
@using Apollo2.Shared.Sys.Data.Units

<div class="ROOT">
 <div class="HEADER">
  SYSTEM MANAGEMENT
 </div>
 <div class="BODY">
  <div class="ManagementSection">
    <div class="ManagementHeader">
      Map Controls
    </div>
    <div class="ManagementBody">
    @if (SystemInformation.session != null && SystemInformation.session.AccessLevel >= 5)
    {
      <div class="ManagementOption">
        <div class="ManagmentOptionLabel">
          Manage Map Objects and Points of Interest
        </div>
        <div class="ManagmentOptionButtonContainer">
         <button @onclick="openMapEditor">
          GO ->
         </button>
        </div>
      </div>
     
    }

    @if (SystemInformation.session != null && SystemInformation.session.AccessLevel >= 6)
    {
     <div class="ManagementOption">
      <div class="ManagmentOptionLabel">
       Manage Map Object Categories
      </div>
      <div class="ManagmentOptionButtonContainer">
       <button @onclick="openCategoryEditor">
        GO ->
       </button>
      </div>
     </div>
     
    }
    else
    {
     <div class="ManagementOption Unauthorized">
      <div class="ManagmentOptionLabel">
       Manage Map Object Categories
      </div>
        <div class="ManagementOptionUnauthorized">You are not authorized to edit Map Object Categories.</div>
     </div>
    }
    </div>
  </div>

  <div class="ManagementSection">
    <div class="ManagementHeader">
      Incident Management
    </div>
    <div class="ManagementBody">
    @if (SystemInformation.session != null && SystemInformation.session.AccessLevel >= 7)
    {
     <div class="ManagementOption">
      <div class="ManagmentOptionLabel">
       Manage Incident Dispositions
      </div>
      <div class="ManagmentOptionButtonContainer">
       <button @onclick="openIncidentDispositionEditor">
        GO ->
       </button>
      </div>
     </div>
     <div class="ManagementOption">
      <div class="ManagmentOptionLabel">
       Manage Incident Types
      </div>
      <div class="ManagmentOptionButtonContainer">
       <button @onclick="openIncidentTypeEditor">
        GO ->
       </button>
      </div>
     </div>
     
    }
    else
    {
     <div class="ManagementOption Unauthorized">
      <div class="ManagmentOptionLabel">
       Manage Incident Dispositions
      </div>
      <div class="ManagementOptionUnauthorized">You are not authorized to edit Incident Dispositions.</div>
     </div>

     <div class="ManagementOption Unauthorized">
      <div class="ManagmentOptionLabel">
       Manage Incident Types
      </div>
      <div class="ManagementOptionUnauthorized">You are not authorized to edit Incident Types.</div>
     </div>
    }
    </div>
  </div>

 </div>
</div>

@code {
 [Parameter]
 public required Window para { get; set; }

 protected override async Task OnParametersSetAsync()
 {
  base.OnParametersSet();
  WindowManager.WindowChanged += handleWindowChange;
  StateHasChanged();
  para.activeComponent = this;
 }

 private async void handleWindowChange(windowEvent we)
 {
  StateHasChanged();
  if (we.type == windowEvent.WindowEventType.closed || we.type == windowEvent.WindowEventType.minimized)
  {
   WindowManager.WindowChanged -= handleWindowChange;
   return;
  }
 }

 private async void openMapEditor()
 {
  Window newWindow = new Window();
  newWindow.Title = "Map Editor";
  newWindow.WINDOWTYPE = "MAPEDIT";
  newWindow.property = "";
  WindowManager.openPage(newWindow);
 }

 private async void openCategoryEditor()
 {
  Window newWindow = new Window();
  newWindow.Title = "Category Editor";
  newWindow.WINDOWTYPE = "CATEDIT";
  newWindow.property = "";
  WindowManager.openPage(newWindow);
 }

 private async void openIncidentDispositionEditor()
 {
  Window newWindow = new Window();
  newWindow.Title = "Disposition Editor";
  newWindow.WINDOWTYPE = "DISEDIT";
  newWindow.property = "";
  WindowManager.openPage(newWindow);
 }

 private async void openIncidentTypeEditor()
 {
  Window newWindow = new Window();
  newWindow.Title = "Incident Type Editor";
  newWindow.WINDOWTYPE = "INCTEDIT";
  newWindow.property = "";
  WindowManager.openPage(newWindow);
 }

}
