@page "/mdt"


<PageTitle>HERMES MDT</PageTitle>

<Apollo2.Pages.Components.Command />
<div class="MDTRoot">
 <Apollo2.Pages.Components.CADHeader />
 <div class="MDTBody">
  <!--<Apollo2.Pages.Components.CADSidebar/>-->
  <div class="MDTUsable">
   <Apollo2.Pages.Windows.MAINWINDOW />
  </div>
 </div>
</div>

@code {

}
