@page "/cad"


<PageTitle>APOLLO CAD</PageTitle>


<div class="CADRoot">
 <Apollo2.Pages.Components.CADHeader/>
 <div class="CADBody">
  <!--<Apollo2.Pages.Components.CADSidebar/>-->
  <div class="CADUsable">
    <Apollo2.Pages.Windows.MAINWINDOW/>
  </div>
 </div>
</div>

@code {

}
